/***************************
 * Element
 ***************************/

 .cta {
 	position: relative;
 	display: inline-block;
 	border: 1px solid $dark;
 	padding: 0px 20px;
 	transition: all $fast ease;
 	font-size: 13px;
 	line-height: 40px;
 	letter-spacing: 0.2em;
 	text-transform: uppercase;

 	&:before {
 		content: '';
 		position: absolute;
 		top: 0; left: 0;
 		width: 100%; height: 100%;
 		background-color: $brandColorDark;
 		transform: scaleX(0);
 		transform-origin: left;
 		transition: transform $fast ease;
 		z-index: -1;
 	}

 	&:hover {
 		color: #FFFFFF;
	    &:before {
	 		transform: scaleX(1);
	 	}
	}

	&.light {
		border: 1px solid #FFFFFF;
		color: #FFFFFF;

		&:before {
			background-color: #FFFFFF;
		}
		&:hover {
	    	color: $dark; 
		}
	}


 }


 .icon-arrow-right {
	width: 50px; height: 50px;
	border: 1px solid $dark;
	border-radius: 50%;

	position: absolute;
	top: 50%; right: 2%;
	transform: translateY(-50%);
	z-index: 3;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width:40%; height: 40%;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(135deg);	
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width:50%; height: 1px;
		background-color: $dark;
		transform-origin: center;
		transform: translate(-50%, -50%);
	}
}

 .icon-arrow-down {
 	display: block;
	width: 50px; height: 50px;
	border: 1px solid $dark;
	border-radius: 50%;
	transform: rotate(90deg);

	margin: 0 auto $spacingSize;

	&:before {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width:40%; height: 40%;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(135deg);	
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width:50%; height: 1px;
		background-color: $dark;
		transform-origin: center;
		transform: translate(-50%, -50%);
	}
}