/***************************
 * Font
 ***************************/

@font-face {
  font-family: 'Avenir';
  src: url('/webfonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),  url('/webfonts/Avenir-Book.woff') format('woff'), url('/webfonts/Avenir-Book.ttf')  format('truetype'), url('/webfonts/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/webfonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('/webfonts/Avenir-Medium.woff') format('woff'), url('/webfonts/Avenir-Medium.ttf')  format('truetype'), url('/webfonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}



*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;  
  ::selection,
  ::-moz-selection { 
    background-color: none;
  }
}


.modal .nav {
  font-family: "essonnes-text", sans-serif; 
  font-size: 30px; 
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

p {
  letter-spacing: 0.1em;
  line-height: 32px;
}

.home-title {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.title-1 {
  font-family: "essonnes-text", sans-serif; 
  font-size: 30px; 
  letter-spacing: 0.1em;
}

.title-2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.title-3 {
  text-transform: uppercase;
}

.title-4 {
  font-family: "essonnes-text", sans-serif; 
  font-size: 30px; 
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-transform: uppercase;
}

.subtitle-1 {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.subtitle-2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.date {
  color: $grey;
  font-weight: 600;
  font-style: italic;
}


.link-1 {
  position: relative;
  font-size: 12px;
  color: $dark;
  text-transform: uppercase;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px; left: 0;
    width: 100%; height: 1px;
    background-color: $dark;
    opacity:  0.3;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px; left: 0;
    width: 100%; height: 1px;
    background-color: $dark;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform $fast ease;
  }

  &:hover {
    &:after {
      transform: scale(1, 1);
    }
  }

}

.dark .link-1 {
  &:before,
  &:after {
    background-color: #FFFFFF;
  }
}