/***************************
 * Footer
 ***************************/

 .footer {
 	text-align: center;
 	padding-bottom: $spacingSize3;
 	.footer-title {
 		position: relative;

 		&:after {
 			content: '';
 			position: absolute;
 			top: 50%; left: 0;
 			transform: translateY(-50%);
 			width: 100%; height: 1px;
 			border-top: 1px solid $dark;
 			z-index: -1;
 		}	

 		span {
 			display: inline-block;
 			background-color: $brandColorLight;
 			padding: 0 $spacingSize;
 		}
 	}
 }

 .contact-info {
	padding: $spacingSize5 0;

	span {
		position: relative;
		&:first-child {
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: -10px; left: 0;
				width: 100%; height: 2px;
				background-color: #CCCCCC;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: -10px; left: 0;
				width: 100%; height: 2px;
				background-color: $dark;
				transform: scale(0, 1);
				transform-origin: left;
				transition: transform $fast ease;
			}

			&:hover {
				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}
}