/***************************
 * Global
 ***************************/

body {
	font-family: 'Avenir', sans-serif;
	font-size: 17px;
	line-height: 26px;
	color: $dark;
	background-color: $brandColorLight;
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;

	&.no-scroll {
		overflow: hidden;

	}
}

img { display: block; max-width: 100%; }

section, 
header,
footer,
div { box-sizing: border-box}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
}

.position {
	position: absolute;

	&.left { left: $spacingSize3; }
	&.right { 
		right: $spacingSize3; 
		&.middle {
			top: 50%;
			transform: translateY(-50%); 
		}
	}
	&.top { top: $spacingSize3; }
	&.bottom { bottom: $spacingSize4; }
	&.center { 
		left: 50%; transform: translateX(-50%); 
		&.middle {
			top: 50%;
			transform: translate(-50%, -50%); 
		}
	}
}


.clearfix {
	&:after {
		content: "";
		display:table;
		clear: both;
	}
}

.row {
	width: 100%;
	margin: 0 auto;

	&:after {
		content: "";
		display:table;
		clear: both;
	}

	@for $i from 1 through 12{
		.#{number-as-word($i)}.columns {
			width: columns($i);
		}
	}
}

.column, .columns {
	float: left;
	min-height: 1px;
}

.frame {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: $brandColorLight;
	transition: background-color 4s ease;

	&:after {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width: calc(100% - 40px); height: calc(100% - 40px);
		border: 3px solid $dark;
		transform: translate(-50%, -50%);
	}

	> .inner {
		position: absolute;
	  	top: 50%; left: 50%; 
	  	transform: translate(-50%, -50%);
	  	text-align: center;
	  	z-index: 1;
	}

	&.style-1 {
		&:after {
			border:none;
		}
	}
}


.fullwidth-image {
	width: 100%;
	img {
		width: 100%; height: auto;
	}
}

.generalwidth-image {
	width: 100%;
	max-width: 900px;
	img {
		width: 100%; height: auto;
	}

	&.center {
		margin: 0 auto;
	}
}


.iframe-video-container {
	position: relative;
	padding-bottom: 56.25%; 
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
