/***************************
 * Header
 ***************************/

 .header {
 	position: fixed;
 	top: 0; left: 0;
 	width: 100%;
 	padding: $spacingSize3;
 	z-index: 10;

 	&.light {
 		
 		> .logo svg .st0 {
 			fill: $light;
 		}

 		.menu-container {
 			.icon-menu {
		 		border-top: 2px solid $light;
		 		border-bottom: 2px solid $light;
		 		&:after {
		 			background-color: $light;
		 		}
		 	}	
		 	> .module-social * {
	 			color: #FFFFFF;
	 		}
 		}
 		
 	}

 	.logo {
 		width: 50px; height: auto;
 	}

 	.menu-container {
 		@include clearfix;
 		position: absolute;
 		top: 50%; right: $spacingSize3;
 		transform: translateY(-50%);

 		.icon-menu {
	 		float: right;
	 		position: relative;
	 		width: 20px; height: 16px; 
	 		border-top: 2px solid $dark;
	 		border-bottom: 2px solid $dark;
	 		margin: 4px;
	 		cursor: pointer;
	 		transform: scale(1);
	 		transition: transform $fast ease;
	 		&:after {
	 			content: '';
	 			position: absolute;
	 			top: 50%; left: 50%;
	 			transform: translate(-50%, -50%);
	 			width: 100%; height: 2px;
	 			background-color: $dark;
	 		}

	 		&:hover {
	 			transform: scale(1.1);
	 		}
	 	}

	 	.module-social {
	 		float: right;
	 		margin-right: 5px;
	 		
	 	}	
 	}
 }