/***************************
 * Helper
 ***************************/


 @mixin clearfix {
 	&:after {
 		content: '';
 		display: table;
 		clear: both;
 	}
 }

 @function oneCol() {
  	@return 100% / 12;
}

@function columns($num){
  	@return (oneCol() * $num);
}

@function number-as-word($number){
  	$w: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven",
"twelve";
  	@return nth($w, $number);
}