/***************************
 * Section
 ***************************/

 section {
 	position: relative;
 	background-color: $brandColorLight;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	

	&.fullscreen {
		height: 100vh;
	}

	
 	&.dark {
 		background-color: $dark;
 		color: $light;
 		a { color: $light; }
 	}

 	&.padding {
 		padding: $spacingSize3 $spacingSize4;
 	}

 	&.top-border {
 		border-top: 1px solid $dark;
 	}
 }