/***************************
 * Variables
 ***************************/

// Glboal Colors
$borderColor: #CCCCCC;
$brandColorDark: #212122;
$brandColorLight: rgba(247,247,247,1);
$brandColorSpecial: #675F54;
$footerBGColor: #e0d8d4;
$dark: #191919;
$light: #FFFFFF;
$grey: #888888;

// Global Size
 $spacingSize: 15px;
 $spacingSize2: 25px;
 $spacingSize3: 35px;
 $spacingSize4: 50px;
 $spacingSize5: 100px;


 //Global speed
 $fast: 0.25s;
 $normal: 0.5s;
 $slow: 1s;

