/***************************
 * Page - About
 ***************************/

 .page {
 	&.page-about {

 		section {

 			
 			background-position: bottom right;

 			&.fullscreen {
 				border-bottom: 1px solid $dark;
 			}

 			> .inner {
	 			position: absolute;
	 			top: 50%; left: 10%;
	 			transform: translate(0, -50%);
	 			width: 40%;

	 			.title-1 {
	 				margin-bottom: $spacingSize2;
	 			}

	 			p {
	 				margin-bottom: $spacingSize2;	
	 			}
	 		}	


	 		.section-header {
	 			text-align: center;
	 			padding: $spacingSize5;

	 			.title-1 {
	 				margin-bottom: $spacingSize2;
	 			}
	 			p {
	 				width: 70%;
	 				margin: 0 auto;
	 			}
 			}

 			.timeline-container {
 				position: relative;
 				padding: $spacingSize2 0;
 				margin-bottom: $spacingSize5;
 				&:before {
 					content: '';
 					position: absolute;
 					top: 0; left: 50%;
 					transform: translateX(-50%);
 					width: 2px; height: 100%;
 					background-color: $dark;
 				}

 				> li {
 					margin-bottom: $spacingSize2;
 					@include clearfix;
 					.timeline-item {
 						position: relative;
 						float: left;
 						width: 50%;
 						text-align: right;
 						padding-right: 5%;

 						&:after {
 							content: '';
 							position: absolute;
 							top: 5px; right: -5px;
 							width: 10px; height: 10px;
 							border-radius: 50%;
 							background-color: $dark;
 						}

 						&:before {
							content: '';
 							position: absolute;
 							top:2px; right: -8px;
 							width: 14px; height: 14px;
 							border-radius: 50%;
 							border: 1px solid $dark;
 							background-color: $brandColorLight;
 							opacity: 0;
 							transform: scale(1.5,1.5);
 							transition: opacity $fast ease, transform $slow ease;
						}

 						.date {
 							margin-bottom: $spacingSize;
 						}

 						ul {
 							margin-bottom: $spacingSize;	
 						}

 						&:hover {
 							&:before {
 								opacity: 1;
 								transform: scale(1,1);
 							}
 						}
 					}

 					&:nth-child(even) {
 						.timeline-item {
 							float: right;
 							text-align: left;
 							padding-left: 5%;

 							&:after {
	 							right: auto; left: -5px;
	 						}

	 						&:before { 
	 							right: auto; left: -8px;
	 						}
 						}
 					}
 				}
 			}

 		}
 		
 		

 	}
 }