/***************************
 * Page - Home
 ***************************/

 .page {
 	&.page-home {

 		.inner * { font-weight: 600; }

		.logo {
		  	width: 25%; height: auto;
		  	margin: 0 auto $spacingSize3;
		  	transform: translateY(75px);
		  	transition: transform $slow ease 0.5s;
		  	.st0{
				width: 100%; height: auto;
				fill:#1D1D1B;
				animation: draw 20s ease-in-out 1;
				stroke: #1D1D1B
			}
		}

		.home-title {
			margin-bottom: $spacingSize3;
			transform: translateY(75px);
			opacity: 0;
		  	transition: transform $slow ease 0.75s, opacity $slow ease 0.75s;
		}

		.nav {
			transform: translateY(75px);
			opacity: 0;
		  	transition: transform $slow ease 1s, opacity $slow ease 1s;

			&:hover > *{
				opacity: 0.2;
			}

			> * { transition: opacity $fast ease; }

			> *:hover {
				opacity: 1;
				&:after { opacity: 1; }
			}

			li {
				position: relative;
				display: inline-block;
				padding: 0 $spacingSize2;
				cursor: pointer;
				&:after {
					content: '';
					position: absolute;
					top: 0; left: 0;
					width: 100%; height: 100%;
					border-left: 1px solid $dark;
					border-right: 1px solid $dark;
					opacity: 0;
					transition: opacity $fast ease;
					pointer-events: none;
				}

				&:nth-child(2) {
					&:after {
						opacity: 1;
					}
				}
				
				a {
					text-transform: uppercase;
					letter-spacing: 0.3rem;
				}
			}
		}

		.module-social {
			opacity: 0;
		  	transition: opacity $slow ease 1.5s;

		}

		&.show {
			.frame {
				background-color: rgba(255, 255, 255, 0.7);	
			}

			.logo { 
				transform: translateY(0); 
			}
			.home-title { 
				transform: translateY(0); 
				opacity: 1; 
			}
			.nav { 
				transform: translateY(0); 
				opacity: 1; 
			}
			.module-social {
				opacity: 1; 
			}
			
		}

		@keyframes draw {
			0% {
				opacity: 1;
				stroke-dasharray: 0 800;
				stroke-dashoffset: 200;
				fill-opacity: 0;
				stroke-width: 1;
			}
			37% {
				stroke-dasharray: 600 0;
				stroke-dashoffset: 200;
				fill-opacity: 0;
				stroke-width: 1;
			}
			50% {
				fill-opacity: 1;
				stroke-width: 0;
			}
			100% {
				fill-opacity: 1;
				stroke-width: 0;
			}
		}
 	}
 }