/***************************
 * Portfolio
 ***************************/


 .page {
 	&.page-portfolio {
 		
 		.lk-slider-container {	
 			position: absolute;
 			top:50%; 
 			transform: translateY(-50%);
		 	.slide {
		 		> .inner {
		 			* {
						color: white;		 				
		 			}
		 		}

		 		> .hover-inner {
		 			pointer-events: none;

		 			.cta {
		 				pointer-events: auto;
		 			}
		 		}
		 	}
		 }
 	}
 }