/***************************
 * Page - Project
 ***************************/

 .page {
 	&.page-project {

 		section {

 			&.section-hero {
 				.main-image {
	 				position:relative;
	 				width: 80%;
	 				bottom: -$spacingSize5;
	 				z-index: 1;
	 			}
 			}
 			&.section-project-info {
 				padding: 180px 0 90px;

 				.columns:first-child {	
 					padding-right: 5%;
 				}

 				.name,
 				.category {
 					margin-bottom: 5px;
 				}
 			}

 			&.section-social {
 				text-align: center;
 				border-top: 1px solid $dark;
 			}

 			
 		}

 	}
 }