/***************************
 * LKSlider
 ***************************/


 .lk-slider-container {
 	@include clearfix;
 	position: relative;
 	width: 100%; height: auto;

	

	&.light {
		.slide-btn {
			border: 1px solid $light;
	 		&:before,
	 		&:after  {
	 			border-top: 1px solid $light;
	 			border-left: 1px solid $light;
	 		}
	 	}
	}

 	.slide-wrapper {
 		@include clearfix;
 		transition: transform $fast ease;
 		position: relative;
 		z-index: 2;

 		&:hover {
			.slide {
				opacity: 0.1;

				&:hover {
					opacity: 1;
				}
			}

		}
 	}


 	.slide {
 		position: relative;
 		float: left;
 		text-align: center;

 		transform-style: preserve-3d;
    	transform: perspective(1600px) rotateY(0) rotateX(0) translate3d(0, 0, 0);
    	transition: 0.5s opacity ease, 0.5s transform ease;
    	animation: menuItem $fast ease 1;
    	animation-fill-mode: forwards;

    	@keyframes menuItem {
    		0% {
			    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(65px);
			}
			100% {
			    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(0);
			}
    	}
 		
 		&:after {
			content: '';
			position: fixed;
	 		top: 0; left: 0;
	 		width: 100%; height: 100%;
	 		background-color: rgba(0,0,0,0.5);
	 		pointer-events: none;
	 		transition: opacity $fast ease;
	 		opacity: 0;
		}

 		.thumb { 
 			img { width: 100%; }
 			&:after {
 				content: '';
 				position: absolute;
 				bottom: 0; left: 0;
 				width: 100%; height: 50%;
 				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.3)));
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
 			}
 		}
 		> .inner {
 			position: absolute;
 			left: 0; bottom: 5%;
 			width: 100%;
 			opacity: 1;
			transform: translateY(0px);
			transition: opacity $normal ease, transform $normal ease;
 		}

 		> .hover-inner {
 			position: absolute;
 			top: 50%; left: 50%;
 			transform: translate(-50%, -40%);
 			width: 150%;
 			visibility: hidden;
		 	opacity: 0;
		 	transition: visibility 0s ease $normal, ease $normal, transform $normal ease;
		 	
 			.category { 
 				color: white; 
 				text-shadow: 2px 2px 15px rgba(0,0,0,0.3);
 			}
 			.name {
 				color: white;
 				font-size: 5vw;
 				line-height: 1em;
 				margin-bottom: $spacingSize4;
 				pointer-events: none;
 				text-shadow: 2px 2px 15px rgba(0,0,0,0.3);
 			}
 			.cta {
 				
 			}
 		}


 		&:hover {
 			transform: perspective(1600px) rotateY(0) rotateX(0) translate3d(0, 0, 0);
 			transition-delay: 0s !important;
 			animation: menuItemHover 0.7s ease 1;
		    animation-fill-mode: forwards;
    		
    		@keyframes menuItemHover {
	    		0% {
				    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(0);
				}
				16% {
				    transform: perspective(1600px) rotateX(5deg) rotateY(3deg) translateZ(32px);
				}
				100% {
				    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(65px);
				}
	    	}

 			z-index: 2;
 			> .inner {
 				opacity: 0;
 				transform: translateY(30px);
 			}
 			> .hover-inner {
 				visibility: visible;
		  		opacity: 1;
		  		transform: translate(-50%, -50%);
		 		transition: visibility 0s ease 0s, opacity $normal, transform $normal ease;
 				
 			}
 		}
 	}

 	.slide-nav-container {
 		position: absolute;
 		bottom:0; left: 0;
 		transform: translateY(100%);
 		width: 100%;
 		padding: $spacingSize5 0 0;
 		text-align: center;
 	}

 	.slide-btn {
 		display: inline-block;
 		position: relative;
 		width: 50px; height: 50px;
 		border: 1px solid $dark;
 		border-radius: 50%;

 		margin: 0 $spacingSize;
 		transition: opacity $fast ease;
 		
 		z-index: 3;
 		cursor: pointer;

 		&:before {
 			content: '';
 			position: absolute;
 			top: 50%; left: 50%;
 			width:40%; height: 40%;
 			border-top: 1px solid $dark;
 			border-left: 1px solid $dark;
 			transform-origin: center;
 			transform: translate(-50%, -50%) rotate(-45deg);
 		}
 		&:after {
 			content: '';
 			position: absolute;
 			top: 50%; left: 50%;
 			width:50%; height: 1px;
 			background-color: $dark;
 			transform-origin: center;
 			transform: translate(-50%, -50%);
 		}
 		&.btn-next { 
 			&:before {
 				transform: translate(-50%, -50%) rotate(135deg);	
 			} 
 		}

 		&:hover {
 			opacity:0.5;
 		}

 	}
 	
 }