/***************************
 * Modal
 ***************************/


 .modal {
 	position: fixed;
 	top: 0; left: 0;
 	width: 100%; height: 100%;

 	visibility: hidden;
 	opacity: 0;
 	transition: visibility 0s linear $fast, opacity $fast;

 	&.active {
 		visibility: visible;
  		opacity: 1;
 		transition: visibility 0s linear 0s, opacity $fast;
 	}

 	.close {
 		position: absolute;
 		top: $spacingSize3; right: $spacingSize3;
 		letter-spacing: 0.2em;
 		text-transform: uppercase;
 		z-index: 1;
 	}

 	.logo {
 		margin: 0 auto $spacingSize4;
 	}

 	.nav {
 		margin-bottom: $spacingSize4;

 		li {	
 			margin-bottom: $spacingSize4;

 			a {
 				position: relative;
 				&:after {
	 				content: '';
	 				position: absolute;
	 				bottom: -5px; left: 0;
	 				width: 100%; height: 2px;
	 				background-color: $dark;
	 				transform-origin: center;
	 				transform: scale(0,1);
	 				transition: transform $fast ease;
	 			}

	 			&:hover {
	 				&:after {
	 					transform: scale(1,1);
	 				}
	 			}
 			}
 			
 		}
 	}

 }