/***************************
 * Module - Social
 ***************************/

.module {
	&.module-social {
		&:hover > *{
			opacity: 0.2;
		}

		> * { transition: opacity $fast ease; }

		> *:hover {
			opacity: 1;
			&:after { opacity: 1; }
		}
			
		li { 
			display: inline-block; 
			padding: 0 $spacingSize;
		}
	}
}
