/***************************
 * Module - Video
 ***************************/

.module {
	&.module-video {

		width: 100%; height:auto;
		video {
			width: 100%; height: auto;
			display: block;
		}

		&.fullscreen {
			min-width: 100%; min-height: 100%;
			width: 100vh; height: 100vh;
			background-color: transparent;

			> .position.top { top: 130px; }

			video { 
				position: fixed;
				top: 50%; left: 50%;
				min-width: 100%; min-height: 100%;
				width: auto; height: auto;
				z-index: -100;
				background-size: cover;
				transform: translate(-50%, -50%);
			}	
		}
		
	}
}
